@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css";
*{
    font-family: 'Akaya Telivigala', cursive;
    padding: 0;
    margin: 0;
    color: #535353;
    box-sizing: border-box;
}
body{
    background-color: #ffffff;
}

div.containerMenu{
    display: flex;
    flex-flow: column;
    position: fixed;
    width: 100%;
    z-index: 10;
    height: 120px;
    background-color: white;
    min-width: 1402px;
    padding: 50px 0;
}

nav.log_header{
    width: 100%;
    height: 40px;
}
nav.log_header ul{
    position: absolute;
    right: 20px;
    top: 10px;
}
nav.log_header ul li{
    list-style: none;
    display: block;
    float: right;
    padding: 0 20px 0 20px;
}
.border_log{
    border-left: 1px solid #535353;
}
nav.log_header ul li a{
    text-decoration: none;
}
nav.log_header ul li a:hover{
    color: crimson;
}
nav.menu_header{
    position: relative;
    width: 100%;
    height: 80px;
    top: 10px;
}
nav.menu_header ul{
    position: absolute;
    right: 100px;
    float: right;
    list-style: none;
}
nav.menu_header ul li{
    float: right;
    padding: 0 0 0 150px;

}
nav.menu_header ul li a{
    text-decoration: none;
    font-size: 20px;
}
nav.menu_header ul li a:hover{
    color: crimson;
}
#logo{
    position: absolute;
    height: 100px;
    top: -50px;
}
div.divider {
    position: absolute;
    width: 100%;
    top: 120px;
    background-image: linear-gradient(to right, #491f1b, #51351e);
}

.ItemsContainerHolder{
    max-width: 80%;
    height: auto;
    display: flex;
    position: absolute;
    flex-wrap: wrap;
    flex-direction: row;
    right: 60px;
    top: 200px;
    border: 1px solid #51351e;
    border-radius: 20px;
}

.containerItems{
    min-height: 200px;
    display: flex;
    flex-grow: 1;
    width: 33%;
    justify-content: center;
    align-items: center;
    padding: 40px;
}
.card{
    display: flex;
    justify-content: center;
    object-fit: cover;
    align-items: center;
    overflow: hidden;
    max-height: 300px;
    max-width: 150px;
    margin: 0 10px;
    box-shadow: 15px 0 35px rgba(0,0,0,0.1), 0 -15px 35px rgba(0,0,0,0.1), 0 15px 35px rgba(0,0,0,0.1);
    border-radius: 20px;
}
.info{
    display: flex;
    flex-flow: column;
    max-height: 300px;
    max-width: 400px;
    overflow: hidden;
    background-color: #ffddcd;
    border-radius: 20px;
    padding: 15px 20px;
    box-shadow: 15px 0 35px rgba(0,0,0,0.1), 0 -15px 35px rgba(0,0,0,0.1), 0 15px 35px rgba(0,0,0,0.1);
}
.itemName{
    display: flex;
    flex-flow: row;
    align-items: center;
    padding: 0 0 10px 0;
}
.big{
    margin-right: 10px;
    font-size: 20px;
    color:#333;
}
.new{
    background-color: #aa0000;
    text-transform: uppercase;
    color: white;
    padding: 3px 10px;
    border-radius: 5px;
}
.small{
    font-weight: 500;
    color: #444;
    margin-top: 3px;
    text-transform: capitalize;
}
.itemName, .size-container{
    display: flex;
    padding-top: 5px;
    border-bottom: 1px solid white;
}
.size-container{
    flex-flow: column;
}
.title{
    font-weight: 600;
    font-size: 1.2rem;
    text-transform: uppercase;
}
.text{
    font-size: 1rem;
}
.sizes{
    padding: 8px 0;
    display: flex;
    align-items: center;
}
.size{
    width:150px;
    height: 30px;
    border-radius: 5px;
    background-color: white;
    margin: 0 10px;
    text-align: center;
    line-height: 30px;
    font-size: 1.1rem;
    font-weight: 500;
    cursor: pointer;
}
.buy-price{
    display: flex;
    flex-flow: row;
    margin: 10px 0;
}
.price{
    display: inline-flex;
    padding: 0 5px;
    background-color: white;
    border-radius: 20%;
    margin: 0 5px;
}
.item{
    height: 100%;
    width: 100%;
}
.cart_menu{
    display: flex;
    flex-flow: row;
    background-color: white;
    border: 1px solid #51351e;
    align-content: center;
    justify-content: center;
    width: 150px;
    height: fit-content;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    top: 10px;
    margin: -5px;
}
#acart{
    display: flex;
    position: relative;
    flex-flow: row;
    font-size: 20px;
    padding-top: 5px;
}
.cart_image{
    display: inline;
    height: 40px;
    padding-bottom: 10px;
    padding-right: 5px;
}
.buy{
    cursor: pointer;
    background-color: transparent;
    border: none;
}@media only screen and (max-width: 1600px) {
    .ItemsContainerHolder{
        max-width: 80%;
    }
    .card{
        max-width: 150px;
        max-height: 250px;
    }
    .info{
        max-height: 250px;
        max-width: 150px;
    }
    .size{
        width:150px;
        height: 20px;
        border-radius: 5px;
        background-color: white;
        margin: 0 5px;
        text-align: center;
        line-height: 15px;
        font-size: 15px;
        font-weight: 250;
        cursor: pointer;
    }
    .title{
        font-weight: 600;
        font-size: 15px;
        text-transform: uppercase;
    }
    .text{
        font-size: .2rem;
    }
    .buy-price{
        display: flex;
        flex-flow: column;
        margin: 2px 0;
    }
    .price{
        display: inline-flex;
        padding: 0 2px;
        background-color: white;
        border-radius: 20%;
        margin: 0 2px;
        text-align: center;
    }
    h3{
        font-size: 15px;
    }
    .big, .new{
        font-size: 15px;
    }
}
@media only screen and (max-width: 1300px) {
    .ItemsContainerHolder{
        max-width: 70%;
    }
    .containerItems{
        width: 50%;
    }
    .card{
        max-width: 150px;
        max-height: 250px;
    }
    .info{
        max-height: 250px;
        max-width: 150px;
    }
    .size{
        width:150px;
        height: 20px;
        border-radius: 5px;
        background-color: white;
        margin: 0 5px;
        text-align: center;
        line-height: 15px;
        font-size: 15px;
        font-weight: 250;
        cursor: pointer;
    }
    .title{
        font-weight: 600;
        font-size: 15px;
        text-transform: uppercase;
    }
    .text{
        font-size: .2rem;
    }
    .buy-price{
        display: flex;
        flex-flow: column;
        margin: 2px 0;
    }
    .price{
        display: inline-flex;
        padding: 0 2px;
        background-color: white;
        border-radius: 20%;
        margin: 0 2px;
        text-align: center;
    }
    h3{
        font-size: 15px;
    }
    .big, .new{
        font-size: 15px;
    }
}
@media only screen and (max-width: 1000px) {
    .ItemsContainerHolder{
        max-width: 60%;
    }
    .containerItems{
        width: 100%;
    }
}
.Controlcontainer{
    position: absolute;
    right: 2%;
    top: 200px;
    display: flex;
    flex-flow: column;
    justify-items: center;
    align-content: center;
    height: fit-content;
    width: 300px;
}
.Add_Control{
     display: flex;
     flex-flow: column;
     justify-items: center;
     align-content: center;
     height: fit-content;
     width: 300px;
 }
.Update_Control{
    display: none;
    flex-flow: column;
    justify-items: center;
    align-content: center;
    height: fit-content;
    width: 300px;
}
.add{
    padding: 20px 60px;
    background-color: green;
    color: white;
    font-size: 20px;
    border-radius: 20px;
    cursor: pointer;
}
.information{
    display: flex;
    flex-flow: column;
    max-width: 50%;
    margin-left: 20%;
    margin-top: 20px;
    margin-bottom: 20px;
}
input{
    cursor: pointer;
}
.rad{
    display: flex;
    flex-flow: row;
    margin: 5px ;
}
.rad label{
    margin: 0 5px;
}
.switch{
    border-radius: 20px; cursor: pointer;  margin: 0 5px;  padding: 10px 20px; background-color: #faaf8f; color: #51351e;
}