.Chart_Container{
    position: absolute;
    height: 600px;
    width: 600px;
    right: 32%;
    top: 20%;
    background-color: #faaf8f;
}
.popup_background{
    top: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 100;
    display: none;
}